.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 50px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.title {
  font-weight: bold;
  margin: 0;
}

.subtitle-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.subtitle {
  color: #999;
  font-size: 14px;
  margin-right: 20px;
}

.subtitle svg {
  margin-right: 5px;
}

.rating {
  display: flex;
  align-items: center;
  margin: 0;
}

.rating svg {
  margin-right: 5px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* Align items to the left */
  margin-bottom: 16px;
}

.booked-experiences-btn {
  margin-left: 850px; /* Add some space between the button and the search box */
}

.filter-buttons-container {
  display: flex;
  justify-content: center;
}

.filter-btn {
  margin: 10px;
}

.top-bar {
  display: flex;
  justify-content: center;
}