.divider{
    height: 1px ;
    background: #0d172a;
}
.Host{
    font-weight: 600;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    background: #a4d8f0;
    border: 2px solid #65c8e6;
}




/*.view {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/

/*.view2 {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/

/*.Host {*/
/*    !*display: flex;*!*/
/*    !*justify-content: flex-start;*!*/
/*    !*background-color: rgb(255, 228, 161);*!*/
/*    !*margin: 10px;*!*/
/*    !*padding: 3px 5px;*!*/
/*    background-color: #999999;*/
/*    border: 0 solid #e2e8f0;*/
/*    border-radius: 0.5rem;*/
/*    box-sizing: border-box;*/
/*    color: #0d172a;*/
/*    display: inline-block;*/
/*    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
/*    font-size: 1rem;*/
/*    font-weight: 600;*/
/*    line-height: 0.2;*/
/*    padding: 2rem 10rem;*/
/*    text-align: center;*/
/*    text-decoration: none #0d172a solid;*/
/*    text-decoration-thickness: auto;*/
/*    transition: all .1s cubic-bezier(.4, 0, .2, 1);*/
/*    box-shadow: 0 3px 2px rgba(166, 175, 195, 0.25);*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/

/*}*/

/*.albume {*/

/*    width: 100%;*/
/*    height: auto;*/
/*    display: flex;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    place-items: start;*/
/*    background-color: aliceblue;*/
/*    justify-content: space-around;*/



/*}*/


/*.book {*/
/*    background-color: #fff;*/
/*    border: 0 solid #e2e8f0;*/
/*    border-radius: 1.5rem;*/
/*    box-sizing: border-box;*/
/*    color: #0d172a;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
/*    font-size: 0.75rem;*/
/*    font-weight: 600;*/
/*    line-height: 0.2;*/
/*    padding: 1rem 1rem;*/
/*    text-align: center;*/
/*    text-decoration: none #0d172a solid;*/
/*    text-decoration-thickness: auto;*/
/*    transition: all .1s cubic-bezier(.4, 0, .2, 1);*/
/*    box-shadow: 0 1px 2px rgba(166, 175, 195, 0.25);*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/
/*}*/

/*.book:hover {*/
/*    background-color: #1e293b;*/
/*    color: #fff;*/
/*}*/


/*!*.pictures {*!*/
/*!*    border-radius: 15px;*!*/
/*!*    width: 300px;*!*/
/*!*    height: 200px;*!*/
/*!*    margin: 100px;*!*/
/*!*    display: flex;*!*/
/*!*    flex-direction: column;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*}*!*/

/*!*.pictures img {*!*/
/*!*    width: 500px;*!*/
/*!*}*!*/

/*!*.pictures .description {*!*/
/*!*    text-align: center;*!*/
/*!*}*!*/

/*!*.pictures:hover {*!*/
/*!*    transition: 0.3s ease-in;*!*/
/*!*    cursor: pointer;*!*/
/*!*    color: darkkhaki;*!*/
/*!*}*!*/

